ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: #404bbf;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

address:hover,
address:focus {
  color: #404bbf;
}

button:hover,
button:focus,
button:active {
  background-color: #404bbf;
}

/* ============ PAGE HEADER STYLES ============ */

.site-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.accent-logo-header {
  color: #2e2f42;
}

.menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============ PAGE HEADER STYLES ============ */

/* ============ HERO SECTION STYLES ============ */
.site-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-bg {
  background: #2e2f42;
}

.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}
/* ============ HERO SECTION STYLES ============ */

/* ============ BENEFITS SECTION STYLES /* ============ */

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============ BENEFITS SECTION STYLES /* ============ */

/* ============ TEAM SECTION STYLES /* ============ */

.section-team {
  background-color: #f4f4fd;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.section-team-item {
  background-color: #ffffff;
}

.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* ============ TEAM SECTION STYLES /* ============ */

/* ============ PORTFOLIO SECTION STYLES /* ============ */
.portfolio-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============ PORTFOLIO SECTION STYLES /* ============ */

/* ============ PORTFOLIO SECTION STYLES /* ============ */
.site-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.accent-logo-footer {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer {
  background: #2e2f42;
}

/* ============ PORTFOLIO SECTION STYLES /* ============ */

.accent-logo-header {
  color: #2e2f42;
}
